.dashboard {
  padding: 30px
}

.tp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: px20px;
  padding: 10px;
}
